#game{
    border: 1px solid black;
    display: inline-block;
}

button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}

button:active {
    transform: scale(0.95);
}

.container{
    display: flex;
   align-items: flex-end;
   justify-content: center;
   gap: 5px;
}
.left {
    background: url(./left.jpg);
     background-size: cover;
}

.right {
    background: url(./right.jpg);
     background-size: cover;
}
